.candidate-word {
  border: 1px solid gray;
  background-color: lightyellow;
  margin: 5px;
  border-radius: 3px;
  width: 10vw;
  padding: 15px;
  text-align: center;
}

.candidate-word-active {
  border: 2px solid gray;
  background-color: lightgreen;
}

.delete-button {
  background-color: rgb(255, 80, 60);
}

.mdc-button {
  margin: 5px;
}

.mdc-card {
  border: 1px solid rgb(192, 192, 192);
  margin-bottom: 8px;
  padding: 5px;
}

.mdc-slider {
  margin: 15px;
  width: 300px;
}

.mdc-tab {
  display: inline-block;
  font-size: 80%;
}

.mdc-text-field {
  margin: 5px;
}

.run-dialog {
  width: 600px;
}
