body {
  margin: 30px 0 0 30px;
  font: 400 11px system-ui;
}

button {
  color: #ff8300;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #ff8300;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px;
  padding: 15px;
}

button:disabled {
  color: #a0a0a0;
  border-color: #a0a0a0;
}

input:disabled {
  color: #a0a0a0;
  border-color: #a0a0a0;
}

select:disabled {
  color: #a0a0a0;
  border-color: #a0a0a0;
}

select {
  color: #ff8300;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #ff8300;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px;
  padding: 15px;
}

.transfer-learn-section input {
  color: #0000ff;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #0000ff;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px;
  padding: 15px;
  position: relative;
}

#learning-region {
  padding-left: 5px;
  padding-right: 5px;
}

.transfer-label-span {
  display: inline-block;
  vertical-align: middle;
  width: 8em;
  max-width: 8em;
}

textarea {
  font-size: 20px;
  width: 90%;
  height: 80%;
  border: 2px solid #888;
  border-radius: 10px;
  resize: none;
}

.footer {
  height: 20%;
}

.transfer-learn {
  position: absolute;
  top: 40%;
}

.word-div {
  border-radius: 10px;
  margin: 3px;
}

.word-button {
  display: inline-block;
  width: 150px;
  max-width: 150px;
  font-size: 95%;
}

.non-noise-duration-label {
  display: inline-block;
  width: 150px;
  max-width: 150px;
  font-size: 95%;
}

.duration-input {
  width: 40px;
}

.candidate-word {
  border: 1px solid gray;
  background-color: lightyellow;
  margin: 5px;
  border-radius: 3px;
  width: 10vw;
  padding: 15px;
  text-align: center;
}

.candidate-word-active {
  border: 2px solid gray;
  background-color: lightgreen;
}

.candidate-word-label {
  font-weight: bold;
  background-color: orange;
  width: 250px;
}

.candidate-words-hidden {
  display: none !important;
}

#candidate-words {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
}

#action-tree-aux-info {
  background-color: blue;
  color: white;
  border-radius: 2px;
}

#collect-words {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#plots {
  display: flex;
}

.settings {
  font-size: 17px;
  padding: 10px;
}

.collapsible-region {
  font-size: 17px;
  border-style: solid;
  border-width: 2px;
  border-color: #888;
  border-radius: 10px;
  margin: 5px;
}

.collapsible-region-inner {
  display: none;
}

.boxed-region {
  font-size: 17px;
  border-style: solid;
  border-width: 2px;
  border-color: #888;
  border-radius: 10px;
  margin: 10px;
}

.boxed-region-header {
  padding: 5px;
  font-weight: bold;
  color: #888;
}

#model-io {
  vertical-align: top;
}

#dataset-io {
  vertical-align: top;
}

.start-stop {
  font-size: 17px;
}

.inference-switch {
  position: relative;
  float: right;
}

input {
  color: #0000ff;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #0000ff;
  border-radius: 10px;
  margin: 5px;
  font-size: 17px;
}

.transfer-word {
  display: flex;
  width: 100%;
  justify-content: left;
  vertical-align: middle;
  text-align: center;
}

.eval-results {
  font-size: 17px;
}

#json-editor {
  width: 80vw;
  height: 80vh;
}

#action-tree-config-json {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  resize: both;
}

/* optional Container STYLES */
#action-tree-group {
  align-content: center;
}

#action-tree {
  margin: 5px;
  width: 96vw;
  height: 70vh;
  resize: both;
  scroll-behavior: smooth;
}

#action-tree-text-input {
  width: 75vw;
  font-size: 17px;
  padding: 15px;
}

#action-tree-email-recipient {
  padding: 5px;
}

.Treant > p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  background-color: #A2BDFD;
  text-align: center;
}

.node-name { font-weight: bold;}

.node-element {
  padding: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #000;
  width: 250px;
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  word-wrap: break-word;
}

.green {
    background-color: #00F000;
}

.blue {
    background-color: #A2BDFD;
}

#new-tree {
  margin-left: 40px;
}

#delete-tree {
  margin-left: 30px;
}

#message {
  margin-left: 30px;
}

.invisible {
  display: none;
}

.action-config-header {
  display: inline-block;
  width: 180px;
  max-width: 200px;
}

.action-config-textbox {
  width: 24em;
  font-family: monospace;
}

input[type=checkbox] {
  transform: scale(2);
}

.credential-sub-region {
  padding: 8px;
  vertical-align: top;
  display: inline-block;
  width: 45%;
}