#dataset-io-section {
  display: none;
}

#model-io-section {
  display: none;
}

.mdc-tab {
  display: inline-block;
}

.word-div {
  border-radius: 10px;
  margin: 3px;
}

.duration-input {
  width: 60px;
}

.word-button {
  font-size: 95%;
  margin-right: 10px;
  margin-bottom: 8px;
  max-width: 150px;
  width: 150px;
}

.mdc-fab {
  margin-left: 2px;
  margin-right: 2px;
}
